<%= form_with model: article do |form| %>
    <div class="content mb-3">
        <label for="exampleFormControlInput1" class="form-label">Title:</label>
        <%= form.text_field :title, class: 'form-control' %>

        <% @article.errors.full_messages_for(:title).each do |message| %>
            <div><%= message %></div>
        <%end%>

    </div>
    <hr>
    <div class="content mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">What's in this topic?</label>
        <%= form.text_area :content, class: "text form-control" %>
        <% @article.errors.full_messages_for(:content).each do |message| %>
            <div><%= message %></div>
        <%end%>
    </div>
    <hr>
    <div>
        <%= form.submit "Save", class: "btn btn-success" %>
    </div>
<%end%>