<div class="container my-5">
    <div class="image img-thumbnail">
        <img src="https://source.unsplash.com/1600x500?technology/">
    </div>
    <hr>
    <div class="content">
        <h3 class="fw-light"><%= @article.title %></h3>
        <hr>
        <p><%= @article.content %></p>

        <a href="<%= edit_article_path(@article) %>" class="btn btn-outline-success me-md-2 btn-sm" ><i class="bi bi-pencil"></i> Edit</a>
        <%= link_to "Delete", article_path(@article), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger btn-sm" %>
    </div>
    
    <hr>
    <%# Adding comments form here %>
    <%= render 'comments/form' %>
    <hr>
    <%# Showing comments %>
    <% if @article.comments.empty? %>
        <p class="fw-light">No comments yet. Be first one to comment...</p>
    <%else%>
        <div class="content my-2">
            <h5 class="fw-light">Comments <span class="badge bg-dark rounded-pill"><%= @article.comments.length - 1 %></span></h5>
            <% @article.comments.each do |comment| %>

                <% unless comment.id.nil? %>
                    <div class="media">
                        <a class="pull-left" href="#"><img class="media-object" src="https://bootdey.com/img/Content/avatar/avatar<%=comment.id%>.png" alt=""></a>
                        <div class="media-body mx-5">
                            <h4 class="media-heading"><%= comment.name %></h4>
                            <p><%= comment.body %></p>
                            <ul class="list-unstyled list-inline media-detail pull-left">
                                <li><i class="bi bi-calendar3"></i> <%= comment.created_at.strftime('%d/%m/%Y') %> at <%= comment.updated_at.strftime('%H:%M %p') %></li>
                            </ul>
                        </div>
                        <div class="icons">
                            <h3><%= link_to [comment.article, comment], method: :delete do %> <i class="md bi bi-trash-fill"></i><%end%></h3>
                        </div>
                    </div>
                <%end%>
            <%end%>
        </div>
    <%end%>
</div>